mixin head(title)
    head
        title= title
        meta(charset='UTF-8')
        meta(name='format-detection' content='telephone=no')
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel='stylesheet', href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css', integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==', crossorigin='')
        script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js', integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==', crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap', rel='stylesheet')
        link(rel='stylesheet' href='css/style.min.css')
        link(rel='shortcut icon' href='favicon.ico')
        // <meta name="robots" content="noindex, nofollow">
        // <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        meta(name='viewport' content='width=device-width, initial-scale=1.0')


mixin title(title)
    section.titlePage
        ._container
            h1.h1= title

mixin crumbs(title)
    section.crumbs
        ._container
            ul.crumbs-list
                li Spectr
                li
                    a(href="#")= title



//catalog

//catalog  sliderTop
mixin sliderTop(img,title)
    .swiper-slide.sliderTop__slide.sliderTop-slide
        .sliderTop-slide__img(style=`background-image: url('${img}');`)
        .sliderTop-slide__name= title

//catalog selected filters
mixin selectedFilters(title, text)
    .catalogFilter-body-bottom__element.catalogFilter-body-bottom-element
        .catalogFilter-body-bottom-element__title= title
        .catalogFilter-body-bottom-element__text=  text
        a(href="#")
            svg(width='10', height='10', viewbox='0 0 10 10', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M5.91616 4.99173L9.80997 8.88565C10.0634 9.13893 10.0634 9.54845 9.80997 9.80174C9.55668 10.055 9.14716 10.055 8.89388 9.80174L4.99995 5.90782L1.10614 9.80174C0.852742 10.055 0.443335 10.055 0.190052 9.80174C-0.0633506 9.54845 -0.0633506 9.13893 0.190052 8.88565L4.08386 4.99173L0.190052 1.09781C-0.0633506 0.844522 -0.0633506 0.434998 0.190052 0.181714C0.316278 0.0553684 0.482247 -0.00810051 0.648098 -0.00810051C0.813948 -0.00810051 0.979799 0.0553684 1.10614 0.181714L4.99995 4.07563L8.89388 0.181714C9.02022 0.0553684 9.18607 -0.00810051 9.35192 -0.00810051C9.51777 -0.00810051 9.68362 0.0553684 9.80997 0.181714C10.0634 0.434998 10.0634 0.844522 9.80997 1.09781L5.91616 4.99173Z', fill='#898989')
                clippath#clip0_225_182
                    rect(width='10', height='10', fill='white', transform='matrix(1 0 0 -1 0 10)')


mixin catalogCard()
    a.cardGood(href="#")
        .cardGood__icons -20%
        .cardGood__img.cardGood-img
            .swiper.cardGood-img__slider
                .swiper-wrapper
                    .swiper-slide.cardGood-img__slide(style="background-image: url('img/catalog/good1.png');")
                    .swiper-slide.cardGood-img__slide(style="background-image: url('img/catalog/good2.png');")
                    .swiper-slide.cardGood-img__slide(style="background-image: url('img/catalog/good3.png');")
                    .swiper-slide.cardGood-img__slide(style="background-image: url('img/catalog/good2.png');")
                    .swiper-slide.cardGood-img__slide(style="background-image: url('img/catalog/good2.png');")
                    .swiper-slide.cardGood-img__slide(style="background-image: url('img/catalog/good2.png');")
                .cardGood-img__pagination

        .cardGood__name Светильник <br> MOBILED LED COB Золото
        .cardGood__management.cardGood-management
            .cardGood-management__price
                span.sale 280 000  ₽
                span 28 000  ₽
            .cardGood-management__favarite.active
                svg(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M17.75 0.999969C15.0879 0.999969 12.8892 3.47263 12 4.63963C11.1108 3.47263 8.91211 0.999969 6.24998 0.999969C2.80373 0.999969 0 4.16844 0 8.06248C0 10.187 0.843281 12.167 2.31933 13.522C2.3408 13.5591 2.36719 13.5933 2.39794 13.624L11.647 22.854C11.7446 22.9512 11.8721 23 12 23C12.1279 23 12.2558 22.9512 12.3535 22.8535L21.9102 13.3003L22.0088 13.2046C22.0869 13.1308 22.1641 13.0561 22.2505 12.9605C22.2866 12.9248 22.3164 12.8848 22.3394 12.8413C23.4112 11.5288 24 9.83591 24 8.06248C24 4.16844 21.1963 0.999969 17.75 0.999969ZM21.5073 12.2788C21.4936 12.2949 21.4809 12.312 21.4697 12.3296C21.4229 12.3833 21.3716 12.4306 21.3208 12.479L11.9995 21.7934L3.21877 13.0303C3.19045 12.9746 3.15089 12.9238 3.10256 12.8813C1.76611 11.7143 0.999984 9.95797 0.999984 8.06248C0.999984 4.71969 3.35498 2 6.24998 2C9.11231 2 11.5552 5.73341 11.5796 5.771C11.7642 6.05614 12.2358 6.05614 12.4204 5.771C12.4448 5.73341 14.8877 2 17.75 2C20.645 2 23 4.71973 23 8.06248C23 9.63767 22.4697 11.1352 21.5073 12.2788Z', fill='#181818')
        .cardGood__basket.cardGood-basket
            button.cardGood-basket__btn.button-o В корзину



